{% extends '@layout/notification-email.html.twig' %}

{% block content %}
    <table style="border-collapse: collapse; width: 600px; margin: auto; table-layout: fixed;">
        <tr>
            <td><h2 style="text-align: center; margin: 20px 0;">Hello there!</h2></td>
        </tr>
        <tr>
            <td style="padding: 0 15px 20px">
                <p style="margin: 0 0 20px; line-height: 24px;">Reset your password by clicking the button bellow</p>

                <a style="display: block; margin: 25px auto 40px; border: none; border-radius: 5px; padding: 10px 20px; font-size: 14px; width: 150px; text-align: center; text-decoration: none;"
                   href="" target="_blank">
                    The button bellow
                </a>

                <p style="margin: 0; line-height: 24px;">Happy collaborating, </p>
                <p style="margin: 0; line-height: 24px;">Pingu @Apidemia</p>
            </td>
        </tr>
    </table>
{% endblock %}
